{% extends './base_layout.html' %}
{% load staticfiles %}
{% block content %}
       <script>
$(document).ready(function(){
    $("#username").focus();
});
</script>
        <div class="col-sm-5 m-auto p-5">
           <br><br>
            <center>
                <img src="{% static 'images/icon.png' %}" alt="img" width="70" height="70">
                <h1 class="d-inline">VisitRecorder</h1><br><br><br>
                <div class="bg-light p-2 col-sm-9">
                    <h4>Admin Login</h4>
                    <form class="m-3" action="/administrator/verify_admin/" method="POST">
                       {% csrf_token %}
                        <div class="form-group col-sm-12">                  
                            <input type="text" class="form-control" id="username" placeholder="Username" name="uname"> 
                        </div>
                        <div class="form-group col-sm-12"> 
                            <input type="password" class="form-control" id="password" placeholder="Password" name="pswd">
                        </div>
                        <div class="form-group col-sm-12">
                            <button type="submit" class="btn btn-success w-100">Login</button>
                        </div>
                    </form>
                    {% if error %}
                    <label class="alert alert-danger">Invalid Cradentials</label>
                    {% endif %}
                </div>
            </center>
        </div>
{% endblock %}