<ul style="list-style-type: none; font-size: 1.1em;" class="menu">
    <li><a href="/administrator/regStudent" class=""><span class="fa fa-save"></span> Register Student</a></li>
    <li><a href="/administrator/editStudent" class=""><span class="fa fa-edit"></span> Edit Student Details</a></li>
    <li><a href="/administrator/searchStudent" class=""><span class="fa fa-search"></span> Search</a></li>
    <li><a href="/administrator/contactParent" class=""><span class="fa fa-envelope"></span> Email to Parent</a></li>
    <li><a href="/administrator/logout" class=""><span class="fa fa-power-off"></span> Logout</a></li>
</ul>
